USE [master]
GO
/****** Object:  Database [db_interrapidisimo]    Script Date: 30/06/2025 2:43:32 p. m. ******/
CREATE DATABASE [db_interrapidisimo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_interrapidisimo_new', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_interrapidisimo_new.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_interrapidisimo_new_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\db_interrapidisimo_new_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_interrapidisimo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_interrapidisimo]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30/06/2025 2:43:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 30/06/2025 2:43:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[FechaNacimiento] [datetime2](7) NOT NULL,
	[Documento] [nvarchar](20) NOT NULL,
	[CreditosSeleccionados] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Estudiantes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstudiantesMateriasProfesores]    Script Date: 30/06/2025 2:43:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstudiantesMateriasProfesores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EstudianteId] [int] NOT NULL,
	[MateriaId] [int] NOT NULL,
	[ProfesorId] [int] NOT NULL,
	[FechaInscripcion] [datetime2](7) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[MateriaProfesorId] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_EstudiantesMateriasProfesores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 30/06/2025 2:43:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materias](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Codigo] [nvarchar](10) NOT NULL,
	[Descripcion] [nvarchar](500) NOT NULL,
	[Creditos] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Materias] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MateriasProfesores]    Script Date: 30/06/2025 2:43:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MateriasProfesores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MateriaId] [int] NOT NULL,
	[ProfesorId] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_MateriasProfesores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Profesores]    Script Date: 30/06/2025 2:43:32 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[Especialidad] [nvarchar](100) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Profesores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Estudiantes_Documento]    Script Date: 30/06/2025 2:43:32 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Estudiantes_Documento] ON [dbo].[Estudiantes]
(
	[Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Estudiantes_Email]    Script Date: 30/06/2025 2:43:32 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Estudiantes_Email] ON [dbo].[Estudiantes]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstudiantesMateriasProfesores_EstudianteId_MateriaId_ProfesorId]    Script Date: 30/06/2025 2:43:32 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EstudiantesMateriasProfesores_EstudianteId_MateriaId_ProfesorId] ON [dbo].[EstudiantesMateriasProfesores]
(
	[EstudianteId] ASC,
	[MateriaId] ASC,
	[ProfesorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstudiantesMateriasProfesores_MateriaId]    Script Date: 30/06/2025 2:43:32 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EstudiantesMateriasProfesores_MateriaId] ON [dbo].[EstudiantesMateriasProfesores]
(
	[MateriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstudiantesMateriasProfesores_MateriaProfesorId]    Script Date: 30/06/2025 2:43:32 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EstudiantesMateriasProfesores_MateriaProfesorId] ON [dbo].[EstudiantesMateriasProfesores]
(
	[MateriaProfesorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EstudiantesMateriasProfesores_ProfesorId]    Script Date: 30/06/2025 2:43:32 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_EstudiantesMateriasProfesores_ProfesorId] ON [dbo].[EstudiantesMateriasProfesores]
(
	[ProfesorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Materias_Codigo]    Script Date: 30/06/2025 2:43:32 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Materias_Codigo] ON [dbo].[Materias]
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Materias_Nombre]    Script Date: 30/06/2025 2:43:32 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Materias_Nombre] ON [dbo].[Materias]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MateriasProfesores_MateriaId_ProfesorId]    Script Date: 30/06/2025 2:43:32 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_MateriasProfesores_MateriaId_ProfesorId] ON [dbo].[MateriasProfesores]
(
	[MateriaId] ASC,
	[ProfesorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MateriasProfesores_ProfesorId]    Script Date: 30/06/2025 2:43:32 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_MateriasProfesores_ProfesorId] ON [dbo].[MateriasProfesores]
(
	[ProfesorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Profesores_Email]    Script Date: 30/06/2025 2:43:32 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Profesores_Email] ON [dbo].[Profesores]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Estudiantes] ADD  DEFAULT ((0)) FOR [CreditosSeleccionados]
GO
ALTER TABLE [dbo].[Estudiantes] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Estudiantes] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[EstudiantesMateriasProfesores] ADD  DEFAULT (getutcdate()) FOR [FechaInscripcion]
GO
ALTER TABLE [dbo].[EstudiantesMateriasProfesores] ADD  DEFAULT (N'Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[EstudiantesMateriasProfesores] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EstudiantesMateriasProfesores] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Materias] ADD  DEFAULT ((3)) FOR [Creditos]
GO
ALTER TABLE [dbo].[Materias] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Materias] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[MateriasProfesores] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MateriasProfesores] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Profesores] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Profesores] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[EstudiantesMateriasProfesores]  WITH CHECK ADD  CONSTRAINT [FK_EstudiantesMateriasProfesores_Estudiantes_EstudianteId] FOREIGN KEY([EstudianteId])
REFERENCES [dbo].[Estudiantes] ([Id])
GO
ALTER TABLE [dbo].[EstudiantesMateriasProfesores] CHECK CONSTRAINT [FK_EstudiantesMateriasProfesores_Estudiantes_EstudianteId]
GO
ALTER TABLE [dbo].[EstudiantesMateriasProfesores]  WITH CHECK ADD  CONSTRAINT [FK_EstudiantesMateriasProfesores_Materias_MateriaId] FOREIGN KEY([MateriaId])
REFERENCES [dbo].[Materias] ([Id])
GO
ALTER TABLE [dbo].[EstudiantesMateriasProfesores] CHECK CONSTRAINT [FK_EstudiantesMateriasProfesores_Materias_MateriaId]
GO
ALTER TABLE [dbo].[EstudiantesMateriasProfesores]  WITH CHECK ADD  CONSTRAINT [FK_EstudiantesMateriasProfesores_MateriasProfesores_MateriaProfesorId] FOREIGN KEY([MateriaProfesorId])
REFERENCES [dbo].[MateriasProfesores] ([Id])
GO
ALTER TABLE [dbo].[EstudiantesMateriasProfesores] CHECK CONSTRAINT [FK_EstudiantesMateriasProfesores_MateriasProfesores_MateriaProfesorId]
GO
ALTER TABLE [dbo].[EstudiantesMateriasProfesores]  WITH CHECK ADD  CONSTRAINT [FK_EstudiantesMateriasProfesores_Profesores_ProfesorId] FOREIGN KEY([ProfesorId])
REFERENCES [dbo].[Profesores] ([Id])
GO
ALTER TABLE [dbo].[EstudiantesMateriasProfesores] CHECK CONSTRAINT [FK_EstudiantesMateriasProfesores_Profesores_ProfesorId]
GO
ALTER TABLE [dbo].[MateriasProfesores]  WITH CHECK ADD  CONSTRAINT [FK_MateriasProfesores_Materias_MateriaId] FOREIGN KEY([MateriaId])
REFERENCES [dbo].[Materias] ([Id])
GO
ALTER TABLE [dbo].[MateriasProfesores] CHECK CONSTRAINT [FK_MateriasProfesores_Materias_MateriaId]
GO
ALTER TABLE [dbo].[MateriasProfesores]  WITH CHECK ADD  CONSTRAINT [FK_MateriasProfesores_Profesores_ProfesorId] FOREIGN KEY([ProfesorId])
REFERENCES [dbo].[Profesores] ([Id])
GO
ALTER TABLE [dbo].[MateriasProfesores] CHECK CONSTRAINT [FK_MateriasProfesores_Profesores_ProfesorId]
GO
USE [master]
GO
